################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ImageOptimization
/.vs/config
/ImageOptimization.Infrastructure/bin/Debug
/ImageOptimization.Infrastructure/obj/Debug
/ImageOptimization.Integrations/bin/Debug
/ImageOptimization.Integrations/obj/Debug
/ImageOptimization.Web/bin
/ImageOptimization.Web/obj/Debug
/Libraries/Sitecore
/node_modules
/packages
/Foundation/ImageCompression/Sitecore.Foundation.ImageCompression/obj/Debug
*.user
/Foundation/Serialization/Sitecore.Foundation.Serialization/obj/Debug
/Foundation/ImageCompression/Sitecore.Foundation.ImageCompression/bin
/Foundation/ImageCompression/Sitecore.Foundation.ImageCompression/obj/Release
/Foundation/Serialization/Sitecore.Foundation.Serialization/bin
/Foundation/Serialization/Sitecore.Foundation.Serialization/obj/Release
