<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="TinyPng.Url">https://api.tinify.com</setting>
      <setting name="TinyPng.Key">6ZReFm7tKfVyu8iwAmH5fipXsN-NZ1EL</setting>
    </settings>
  </sitecore>
</configuration>