<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="TinyPng.Service.Url" value="https://api.tinify.com" />
      <setting name="TinyPng.Service.Key" value="6ZReFm7tKfVyu8iwAmH5fipXsN-NZ1EL" />
    </settings>
    <processors>
      <uiUpload>
        <processor patch:instead="processor[@type='Sitecore.Pipelines.Upload.Done, Sitecore.Kernel']"
                   type="Sitecore.Foundation.ImageCompression.Pipelines.Upload.Save, Sitecore.Foundation.ImageCompression" />
      </uiUpload>
    </processors>
    <imagecompression defaultProvider="TinyPng">
      <providers>
        <clear/>
        <add name="TinyPng" type="Sitecore.Foundation.ImageCompression.Providers.TinyPngImageCompressionProvider, Sitecore.Foundation.ImageCompression" />
      </providers>
    </imagecompression>
  </sitecore>
</configuration>

